[images]
  remote_images = [
    "https://source.unsplash.com/.*",
    "https://images.unsplash.com/.*",
    "https://ext.same-assets.com/.*",
    "https://ugc.same-assets.com/.*"
  ]

[build]
  command = "bun run build"
  publish = ".next"

[functions]
  directory = "netlify/functions"

[build.environment]
  NODE_VERSION = "20"
  BUN_VERSION = "1.1.20"
